<h1 class="title">This is our new Developer :</h1>

<div class="infoContainer">
    <p>Last Name : {{newDeveloper.lastName}}</p>
    <p>First Name : {{newDeveloper.firstName}}</p>
    <p>Age : {{newDeveloper.age}}</p>
    <p>Gender : {{newDeveloper.gender}}</p>
    <p>Bio : '{{newDeveloper.bio}}'</p>
</div>

<div class="skillsContainer">
    <h2>Skills :</h2>
    <div class="technosContainer">
        <app-skill 
            *ngFor="let skill of newDeveloper.skills"
            [developerSkills]="skill"
        >   
        </app-skill>
    </div>
</div>